# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# modules of each chapter
/Section-3/node_modules
/Section-4/node_modules
/Section-5/node_modules
/Section-5-css-enabled/node_modules
/Section-6/node_modules
/Section-8-burger/node_modules
/Section-9/node_modules
/Section-10/node_modules
/Section-11/node_modules
/Section-12/node_modules

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
